[user]
  name = Vidya Mani
  email = mani.vidya@gmail.com
[color]
  ui = auto
  diff = auto
  interactive = auto
  branch = auto
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  co = checkout
  st = status
  ci = commit
[push]
  default = simple
[credential]
  helper = cache --timeout=3600
